.button {
  padding: 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  background: #fb8e0b;
  border-radius: 8px;
  border: none;
  transition: 0.3s all ease;
  cursor: pointer;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__image {
  margin-top: 20px;
  width: 95px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  max-width: 450px;
  width: 100%;
  padding-top: 20px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav__item > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c20;
  transition: 0.3s all ease;
  cursor: pointer;
}

.nav__item > a:hover,
.nav__div__paragraph:hover {
  color: #fb8e0b;
}

.nav__div {
  padding-top: 10px;
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__div__paragraph {
  display: block;
  padding-top: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #1b1c20;
  cursor: pointer;
}

.nav__div__button:hover {
  background-color: #ffffff;
  color: #fb8e0b;
  border: 1px solid #fb8e0b;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .nav__div__button {
    margin-left: auto;
    margin-right: 10px;
  }
  .nav__div__paragraph {
    display: none;
    visibility: hidden;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-style: normal;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  padding: 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  background: #fb8e0b;
  border-radius: 8px;
  border: none;
  transition: 0.3s all ease;
  cursor: pointer;
}

.hero .container {
  display: flex;
  padding-top: 70px;
}

.hero__info__heading {
  max-width: 510px;
  width: 100%;
  padding-top: 70px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #1b1c20;
}

.hero__info__paragraph {
  max-width: 440px;
  width: 100%;
  padding-top: 30px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #383a47;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__info__button {
  max-width: 210px;
  width: 100%;
  position: relative;
  margin-top: 30px;
  padding: 16px 26px;
  text-align: left;
}

.hero__info__button:hover {
  background-color: #ffffff;
  color: #fb8e0b;
  border: 1px solid #fb8e0b;
}

.hero__info__button:after {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  position: absolute;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  top: 22px;
  right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__image {
  margin-left: auto;
  margin-right: 10px;
}

.ranking {
  display: flex;
  margin-top: 140px;
}

.ranking__first {
  display: flex;
}

.ranking__first-images {
  display: flex;
}

.ranking__first-image1 {
  z-index: 1;
  border: 0px solid white;
  -o-object-fit: contain;
     object-fit: contain;
}

.ranking__first-image2 {
  z-index: 2;
  border: 0px solid white;
  margin-left: -30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.ranking__first-image3 {
  z-index: 3;
  border: 0px solid white;
  margin-left: -30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.ranking__first-info {
  margin-left: 20px;
}

.ranking__first__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -1px;
}

.ranking__first__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #383a47;
  opacity: 0.6;
}

.line {
  content: "";
  display: block;
  width: 39px;
  height: 0px;
  margin-top: 30px;
  margin-left: 20px;
  border: 2px solid #1b1c20;
  transform: rotate(-90deg);
}

.ranking-second > div {
  display: flex;
}

.ranking-second > div > img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
  .hero__image {
    width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .ranking {
    display: flex;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 1050px) {
  .hero .container {
    display: flex;
    flex-direction: column;
  }
  .hero__image {
    margin-top: 40px;
    justify-content: center;
    margin: 0 auto;
  }
  .hero__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__info__heading {
    max-width: 800px;
    width: 100%;
  }
  .hero__info__paragraph {
    max-width: 600px;
    width: 100%;
  }
  .ranking {
    display: flex;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 780px) {
  .hero__info__heading {
    padding-top: 40px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }
  .hero__info__paragraph {
    padding: 0;
    padding-top: 20px;
  }
  .ranking {
    display: flex;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 520px) {
  .hero__info__heading {
    font-size: 34px;
  }
  .hero__info__paragraph {
    padding: 0;
    padding-top: 20px;
  }
  .ranking {
    display: flex;
    margin-top: 60px;
  }
}
.experience .container {
  margin-top: 80px;
}

.comforts {
  display: flex;
  margin-top: 74px;
  justify-content: space-between;
}

.experience__heading {
  width: 550px;
  width: 100%;
  text-align: center;
}

.comforts__div {
  position: relative;
  padding-left: 80px;
}

.comforts__div__heading:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
}

.video:before {
  background-image: url(../images/video.svg);
}

.time:before {
  background-image: url(../images/time.svg);
}

.safe:before {
  background-image: url(../images/safe.svg);
}

.comforts__div__heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
  color: #1b1c20;
}

.comforts__div__paragraph {
  padding-top: 12px;
  max-width: 280px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #383a47;
}

.customer {
  margin-top: 60px;
  padding: 80px 0px;
  background-color: #f8f8fa;
}

.customer .container {
  display: flex;
}

.customer__info {
  margin-left: 120px;
}

.customer__info__heading {
  padding-top: 20px;
  max-width: 510px;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #1b1c20;
}

.customer__info__paragraph {
  padding-top: 30px;
  max-width: 440px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #383a47;
}

.customer__info__paragraph:last-child {
  padding-top: 30px;
  font-weight: 400;
}

.chat .container {
  display: flex;
  justify-content: space-between;
}

.chat__info {
  padding-top: 90px;
}

.chat__info__heading {
  padding-top: 20px;
  max-width: 518px;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #1b1c20;
}

.chat__info__paragraph {
  padding-top: 24px;
  max-width: 510px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #383a47;
}

.chat__info__button {
  margin-top: 40px;
}

.chat__info__button:hover {
  background-color: #ffffff;
  color: #fb8e0b;
  border: 1px solid #fb8e0b;
}

.chat__card {
  box-shadow: none;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.chat__card > img {
  position: absolute;
}

.left-card {
  bottom: -200px;
  right: 330px;
}

.right-card {
  right: -70px;
  top: 170px;
}

.order {
  margin-top: 150px;
  background-color: #f8f8fa;
}

.order .container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.order__info {
  padding-top: 60px;
}

.order__info__heading {
  padding-bottom: 22px;
  max-width: 500px;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #1b1c20;
}

.order__info__paragraph {
  max-width: 500px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #383a47;
}

.result {
  margin-top: 60px;
  display: flex;
}

.result__number-last {
  padding-left: 50px;
}

.result__number {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #1b1c20;
}

.result__paragraph {
  padding-left: 20px;
  max-width: 90px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #383a47;
}

.about {
  margin-top: 120px;
  padding: 80px 0px;
  background-color: #fb8e0b;
}

.about__heading {
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.about__info {
  display: flex;
  justify-content: space-between;
}

.info-left {
  padding: 30px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  border-radius: 11.1111px;
}

.info-left__heading {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fd6003;
}

.info-left__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #383a47;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.footer {
  margin-top: 100px;
}

.footer__heading {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #1b1c20;
}

.footer__button {
  margin: 0 auto;
  margin-top: 36px;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__info {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin-left: 30px;
  max-width: 400px;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer__item > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #1b1c20;
  transition: 0.3s all ease;
}

.social > a {
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s all ease;
}

.social > a > img {
  transition: 0.3s all ease;
}

.social > a > img:hover {
  transform: translateY(-5px);
}

.footer__item > a:hover {
  color: #fb8e0b;
}/*# sourceMappingURL=main.css.map */